<head>
  <link rel='stylesheet' type='text/css' href='styles/home.css'>
  <link rel='stylesheet' type='text/css' href='styles/header.css'>
  <link rel='stylesheet' type='text/css' href='styles/nav.css'>
  <link rel='stylesheet' type='text/css' href='styles/feedView.css'>
  <link rel='stylesheet' type='text/css' href='styles/feedControls.css'>
  <link rel='stylesheet' type='text/css' href='styles/postForm.css'>
</head>
<body>
  <%- include('../partials/header'); %>

  <main id='home-container'>
    <%- include('../partials/nav'); %>

    <section id='feed'>
      <!-- 
        Do to:
        Input dynamic data
       -->
      <%- include('../partials/feedView', {
        posts: [{
          createdBy: 'jim bean',
          text: 'Where does the day go?',
          media: '/devData/profilePics/profilePic.jpg',
          createdAt: '5 Sec ago'
        }]
      }); %>
      
      <%- include('../partials/postForm'); %>
      <%- include('../partials/feedControls'); %>
    </section>
  </main>

  <script src='./scripts/feedControls.js'></script>
</body>
